<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @payslip.employee_id %>
</p>

<p>
  <strong>Regular hours:</strong>
  <%= @payslip.regular_hours %>
</p>

<p>
  <strong>Overtime hours:</strong>
  <%= @payslip.overtime_hours %>
</p>

<%= link_to 'Edit', edit_payslip_path(@payslip) %> |
<%= link_to 'Back', payslips_path %>
